<!-- Copyright 2012, 2013 Machinery Science, LLC   -->
{% extends LinuxCNCTemplate.html %}

{% block definitions %}
    {% set name = 'config' %}
{%end%}

{% block label %}Configuration{% end %}


{% block custom_header %}
    
        <style>
            table.config_grid a { color: #6B78A9; text-decoration: none; }
            table.config_grid a:hover { text-decoration: underline; } 
            table.config_grid { border-collapse: collapse; border: 1px solid #CCB; width: 100%; }
            table.config_grid td, table.config_grid th { padding: 5px; border: 1px solid #E0E0E0; }
            table.config_grid th { background: #E5E5E5; text-align: left; }
            input.invalid { background: red; color: #FDFDFD; }
        </style>
        
        <script type="text/javascript" src="static/editablegrid-2.0.1/editablegrid-2.0.1.js"></script>
        <link rel="stylesheet" href="static/editablegrid-2.0.1/editablegrid-2.0.1.css" type="text/css" media="screen">         
{% end %}

{% block custom_body %}
<p>
    This tab shows the full INI file that was used to configure LinuxCNC.
</p>
        <div id="midcol">
            <div id="wrap">
                <div id="grid_title">INI File Entries for section:</div>
                <div id="ConfigTable"></div>
            </div>
            <br>
        </div>

        <div id="leftcol">
            <div id="menu_title"><h2>INI File Sections:</h2></div>
            <div id="left_menu"></div>
        </div>

{% end %}

