<!-- Copyright 2012, 2013 Machinery Science, LLC   -->
{% extends LinuxCNCTemplate.html %}

{% block definitions %}
    {% set name = 'config_overlay' %}
{%end%}

{% block label %}Configuration{% end %}


{% block custom_header %}
    
        <style>
            table.config_grid a { color: #6B78A9; text-decoration: none; }
            table.config_grid a:hover { text-decoration: underline; } 
            table.config_grid { border-collapse: collapse; border: 1px solid #CCB; width: 100%; }
            table.config_grid td, table.config_grid th { padding: 5px; border: 1px solid #E0E0E0; }
            table.config_grid th { background: #E5E5E5; text-align: left; }
            input.invalid { background: red; color: #FDFDFD; }
        </style>
        
        <script type="text/javascript" src="static/editablegrid-2.0.1/editablegrid-2.0.1.js"></script>
        <link rel="stylesheet" href="static/editablegrid-2.0.1/editablegrid-2.0.1.css" type="text/css" media="screen">         
{% end %}

{% block custom_body %}
<p>
    This tab allows editing of the CalibrationOverlay.inc file which will be overlaid over the default Pocket NC INI
    configuration, before detected features are then overlaid as well. You can see the full INI file that is generated
    at server startup in the <a href="LinuxCNCConfig.html">INI Setup tab</a>.
</p>
<p>
    A list of all available commands is available in the <a href="http://www.linuxcnc.org/docs/devel/html/config/ini_config.html" target="_blank">linuxcnc INI Configuration Documentation</a>.
</p>
<div>

<h3>Calibration Upload Form</h3>
Serial Number <input type="text" id="calibrationSerialNumber" value=""><button onclick="DownloadCalibration()">Download Machine Specific Calibration</button>
<p>Upload a zip file with an a.comp, b.comp and CalibrationOverlay.inc file.</p>

<form id="calibrationUploadForm" method="POST" action="/upload/calibration" enctype="multipart/form-data">
<input type="file" name="calibration_data">
<button>Upload</button>
<input type="checkbox" name="enableSwap" id="enableSwap" value="shouldEnableSwap" checked>
<label for="enableSwap"> Enable swap file on calibration upload</label>
</form>

<div id="uploadMsg"></div>

<script>
  function SubmitCalibrationFile(e) {
    console.log("in SubmitCalibrationFile", e);
    var form = e.target;

    var request = new XMLHttpRequest();
    var data = new FormData(form);

    var msgElement = document.getElementById("uploadMsg");

    request.addEventListener("load", function(e) {
      console.log(e.target.responseText);
      if(e.target.responseText.indexOf("Success") === 0) {
        uploadMsg.innerHTML = "<span style='color: green'>" + e.target.responseText + "</span>";
      } 
      else if(e.target.responseText.indexOf("Warning") == 0 && e.target.responseText.indexOf("Uploaded") !== -1)  {
        uploadMsg.innerHTML = "<span style='color: darkorange'>" + e.target.responseText + "</span>";
      }
      else {
        uploadMsg.innerHTML = "<span style='color: red'>" + e.target.responseText + "</span>";
      }
    });

    request.addEventListener("error", function(e) {
        uploadMsg.innerHTML = "<span style='color: red'>" + e + "</span>";
    });

    request.open("POST", "/upload/calibration");
    request.send(data);
  }

  var form = document.getElementById("calibrationUploadForm");
  form.addEventListener("submit", function(e) {
    e.preventDefault();
    SubmitCalibrationFile(e);
  });
</script>
<br/>
<br/>
<br/>
</div>

<div id="top_button_bar">
    <button type="button" id="add_new_section_but" value="Add_New_Section" onclick="ConfigAddSection();">Add New Section</button>
    <button type="button" id="remove_section_but" value="Remove_Section" onclick="ConfigRemoveSection();">Remove Section</button>
    <button type="button" id="add_new_value_but" value="Add_New_Value" onclick="ConfigAddValue();">Add New Value</button>
    <button type="button" id="write_config" value="Write_Config" onclick="ConfigWrite();">Save Configuration</button>
    <div id="temp_config_change_msg" style="display: none; color: darkgreen;">
      Temporary changes in effect. Save Configuration to make permanent.
    </div>
    <div id="restart_required_msg" style="display: none; color: darkorange">
      Changes requiring restart detected. To put into effect, Save Configuration then go to System tab and Restart LinuxCNC and Rockhopper.
    </div>
</div>

<div id="midcol">
    <div id="wrap">
        <div id="grid_title">INI File Entries for section:</div>
        <div id="ConfigTable"></div>
    </div>
    <br>
</div>

<div id="leftcol">
    <div id="menu_title"><h2>INI File Sections:</h2></div>
    <div id="left_menu"></div>
</div>

{% end %}

