<!-- Copyright 2012, 2013 Machinery Science, LLC   -->
{% extends LinuxCNCTemplate.html %}

{% block definitions %}
    {% set name = 'compensation' %}
{%end%}

{% block label %}Compensation{% end %}

{% block custom_header %}
    <script type="text/javascript" src="static/editablegrid-2.0.1/editablegrid-2.0.1.js"></script>
    <link rel="stylesheet" href="static/editablegrid-2.0.1/editablegrid-2.0.1.css" type="text/css" media="screen">         
{% end %}

{% block custom_body %}
<p> Set compensation look up tables to calibrate the motion of the A and B axes.</p>

<h2>A Axis Compensation</h2>

<div id="acomp">
</div>

<h2>B Axis Compensation</h2>

<div id="bcomp">
</div>

<button onClick="SaveCompensation()">Save</button>
<button onClick="ReloadCompensation()">Reload</button>

<br/>


{% end %}



